.container {
  display: flex;
  justify-content: center;
}

/* .pieGraph {
  box-sizing: border-box;
  width: 25%;
  float: left;
  margin-right: 0;
}

.otherGraph {
  box-sizing: border-box;
  float: right;
  width: 75%;
  margin-left: 0;
} */

.pieGraph {
  display: inline-block;
  padding: 0em;
}
.otherGraph {
  display: inline-block;
  padding: 0em;

}