.text {
  font-family: Helvetica,  sans-serif;
  font-size: 24px;
  font-style: 'bold';
}

.dropDownIndex {
  margin-left: 570px;
  background-color: #f2f3f4;
}

.dropDownIndex select{
  outline: none;
}

.dropDownType {
  background-color: #f2f3f4;
}